.sign-up {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 17, 28);
}

.in-box {
    position: relative;
    height: 100%;
    width: 60%;
    background-color: rgb(0, 48, 73);
    border-radius: 0px 50px 50px 0px;
}

.out-box {
    display: flex;
    position: relative;
    width: 90%;
    height: 80%;
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(89, 112, 129);
    width: 40%;
    height: 100%;
    border-radius: 50px 0px 0px 50px;
}

.pic img {
    margin-top: 50px;
    margin-left: 50px;
    opacity: 0.6;
}

.details {
    color: wheat;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    cursor: default;
    height: 60px;
}

.calendarIcon {
    position: absolute;
    left: 74%;
    top: 36%;
    color: grey;
    cursor: pointer;
}

.grid1 {
    margin-top: 0.5%;
    padding: 2%;
    display: grid;
    grid-template-columns: 350px 350px;
    color: white;
}

.grid {
    margin-left: 100px;
    padding: 10px;
    height: 100%;
}

label {
    font-size: 15px;
    color: white;
}

input[type="text"] {
    border: none;
    font-size: 15px;
    padding: 10px;
    width: 50%;
    background-color: rgb(0, 17, 28);
    color: white;
    outline: none;
}

input[type="password"] {
    border: none;
    font-size: 15px;
    padding: 10px;
    width: 50%;
    background-color: rgb(0, 17, 28);
    color: white;
    outline: none;
}

.custom-radio-group {
    display: flex;
    gap: 10px;
}

.custom-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-radio input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 8px;
}

.custom-radio input:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(0, 17, 28);
    /* Change this to your desired color */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s;
}

.custom-radio input:checked:before {
    opacity: 1;
}

.custom-radio span {
    margin-left: 8px;
    font-size: 15px;
}

.grid3 {
    display: flex;
    width: 100%;
    font-size: 18px;
    margin-top: 20px;
    color: white;
}

.grid-3 {
    margin-left: 22%;
    width: 30%;
}

select {
    outline: none;
    color: white;
    background-color: rgb(0, 17, 28);
    border: none;
    padding: 2%;
}

#city {
    width: 75%;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.submitButton:hover {
    background-color: "red";
}
