.sign-up {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 17, 28);
  overflow: visible;
}

.in-box {
  position: relative;
  height: 100%;
  width: 60%;
  background-color: rgb(0, 48, 73);
  border-radius: 0px 50px 50px 0px;
  overflow: visible;
  padding-bottom: 20px;
}

.out-box {
  display: flex;
  position: relative;
  width: 90%;
  height: 90%;
  overflow: visible;
}

.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(89, 112, 129);
  width: 40%;
  height: 100%;
  border-radius: 50px 0px 0px 50px;
}

.pic img {
  margin-top: 50px;
  margin-left: 50px;
  opacity: 0.6;
}

.details {
  color: wheat;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  font-family: "cursive";
  cursor: default;
  height: auto;
  min-height: 5%;
}

.grid1 {
  padding: 2% 2%;
  display: grid;
  grid-template-columns: 350px 350px;
  color: white;
  row-gap: 10px;
  column-gap: 20px;
  height: auto;
  overflow: hidden;
  align-items: start;
}

.grid {
  margin-left: 12%;
  padding: 0.5%;
  overflow: visible;
  height: auto;
}

label {
  font-size: 15px;
  color: white;
  font-family: "cursive";
}

input[type="text"],
input[type="email"],
textarea {
  border: none;
  font-size: 15px;
  padding: 10px;
  width: 50%;
  background-color: rgb(0, 17, 28);
  color: white;
  outline: none;
  font-family: cursive;
}

input[type="date"] {
  border: none;
  font-size: 15px;
  padding: 10px;
  width: 50%;
  background-color: rgb(0, 17, 28);
  color: white;
  outline: none;
  font-family: cursive;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input[type="password"] {
  border: none;
  font-size: 15px;
  padding: 10px;
  width: 50%;
  background-color: rgb(0, 17, 28);
  color: white;
  outline: none;
  font-family: cursive;
}

.error-text {
  display: none;
}

.input-error {
  border: 1px solid #ff6b6b !important;
}

.input-error::placeholder {
  color: #ff6b6b !important;
  opacity: 0.8;
}

.custom-radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 70%;
}

.custom-radio input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 8px;
}

.custom-radio input:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(0, 17, 28);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.custom-radio input:checked:before {
  opacity: 1;
}

.custom-radio span {
  margin-left: 8px;
  font-size: 15px;
}

.submit-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .grid1 {
    grid-template-columns: 300px 300px;
  }
}

@media (max-width: 992px) {
  .out-box {
    flex-direction: column;
    width: 95%;
    height: 90%;
  }

  .pic {
    width: 100%;
    height: 30%;
    border-radius: 50px 50px 0px 0px;
  }

  .pic img {
    margin: 20px;
    max-width: 200px;
  }

  .in-box {
    width: 100%;
    height: 70%;
    border-radius: 0px 0px 50px 50px;
  }

  .grid {
    margin-left: 5%;
  }

  .grid1 {
    grid-template-columns: 1fr;
    padding: 5%;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"] {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .details h1 {
    font-size: 18px;
  }

  .grid {
    margin-left: 2%;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"] {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .sign-up {
    padding: 10px;
  }

  .out-box {
    width: 100%;
    height: 95%;
  }

  .details h1 {
    font-size: 16px;
  }

  .pic img {
    max-width: 150px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"] {
    width: 100%;
    font-size: 14px;
  }

  label {
    font-size: 14px;
  }
}
